<div class="row" *ngIf="positions$ | async as positions">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Add position
      </button>
    </div>
    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length !== 0; else empty">
        <a
          class="collection-item collection-item-icon"
          *ngFor="let position of positions"
          (click)="onSelectPosition(position)"
        >
          <span>
            {{position.name}} <strong>{{position.cost}}$</strong>
          </span>
          <span>
            <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">This category has no positions.</div>
      </ng-template>
    </div>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
